@model IEnumerable<WebPasajero.Models.Pasajero>
@{
    ViewData["Title"] = "Index";
}

<h1>Lista de pasajeros</h1>

<p>
    @Html.ActionLink("Agregar nuevo pasajero", "Create", "Pasajero")
    <a asp-action="Index" asp-controller="Home">Volver al inicio</a>
</p>
<table>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaNacimiento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ciudad)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Apellido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaNacimiento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ciudad)
                </td>
                <td>
                   @* <a asp-action="Edit" asp-route-id="@item.PersonId">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.PersonId">Delete</a>*@
                    
                </td>
            </tr>
        }
    </tbody>
</table>


